@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    margin: 15px 0;
    width: 280px;
    border-radius: 5px;
    height: 430px;
    background-color: rgba(0, 0, 0, 0.854);
    cursor: pointer;

}

.input {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.input input {
    width: 240px;
    padding: 12px 5px;
    font-size: 20px;
    outline: none;
    color: black;
}

.calName {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
    align-items: center;
    color: white;
}

.calName h2 {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1.8px;
}

.calName span {
    font-size: 7px;
}

.calName .fChild {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calName .secChild {
    display: flex;
    font-weight: 500;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding: 6px 0;
}

.button button {
    width: 45px;
    font-weight: 500;
    margin: 2px 0;
    padding: 6px 0;
    border-radius: 3px 0;
    border: none;
}


.part button {
    width: 42px;
    padding: 3px 0;
    margin-right: 5px;
    border: none;
    border-radius: 2px 0;
    background-color: #35353df0;
    color: white;
    font-size: 10px;
    transition: 0.2s;
}
.part button:hover{
    background-color: rgba(141, 141, 141, 0.446);
}
.part {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 3px 20px;
    margin-bottom: 8px;
}

button:active {
    box-shadow: 0px 0px 2.5px #d0d0d0;
    transform: translateY(0.4);
    
}
button{
    cursor: pointer;
}