@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(145deg, #0f172a, #020617);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.container{
    width: 550px;
    height: 350px;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border-radius: 8px;
    border: 2px solid rgba(56,189,248,0.44);
    box-shadow: 0 40px 80px rgba(0,0,0,0.7);
    color: #f1f5f9;
    padding: 40px;
    margin: 20px 0;
} 


h1{
    font-size: 40px;
    text-align: center;
    font-weight: 900;
    letter-spacing: 8px;
}
.part1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.part1 h2{
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 8px;
}
.part2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}
button{
    padding: 8px 20px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: 0.05s;
    margin: 20px 0;
    color: white;
    font-weight: 700;
}
button:active{
    transform: scale(0.95);
}

.start{
    background: linear-gradient(135deg, #22c55e, #06b6d4);
}
.start:hover{
    background: linear-gradient(135deg, #4ade80, #22d3ee);
    box-shadow:
      0 0 12px rgba(34,197,94,0.6),
      0 0 30px rgba(6,182,212,0.45);
}

.pause{
    background: linear-gradient(135deg, #3b82f6, #6366f1);
}
.pause:hover{
    background: linear-gradient(135deg, #60a5fa, #818cf8);
    box-shadow:
      0 0 12px rgba(59,130,246,0.6),
      0 0 30px rgba(99,102,241,0.45);
}

.reset{
    background: linear-gradient(135deg, #f43f5e, #f97316);
}

.reset:hover{
    background: linear-gradient(135deg, #fb7185, #fb923c);
    box-shadow:
      0 0 12px rgba(244,63,94,0.6),
      0 0 30px rgba(249,115,22,0.45);
}

@media (max-width:768px){
    .container{
        width: 90%;
        height: auto;
        padding: 20px;
    }
    h1{
        font-size: 32px;
        letter-spacing: 6px;
    }
    .part1 h2{
        font-size: 28px;
        letter-spacing: 6px;
    }
    button{
        font-size: 16px;
        padding: 6px 16px;
        margin: 10px 0;
    }
    .part1,.part2{
        margin: 10px 0;
    }
}