/* * {
    margin: 0;
    padding: 0;
}

.text {
    display: flex;
    gap: 40px;
}

.main {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    font-size: 60px;
    font-family: sans-serif;
    margin-bottom: 20px;
}

button {
    padding: 0px 30px;
    font-size: 40px;
}

#counter{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: sans-serif;
}

img{
    width: 300px;
} */

/* img{
    width: 300px;
    cursor: pointer;
    border: 2px solid black;
} */